:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;}

a {
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

button {
  padding: 0;
  border: 2px solid transparent;
  font-family: inherit;
  background-color: grey;
  cursor: pointer;
}

button:hover {
  border: 2px solid blue;
}

button:focus,
button:focus-visible {
  outline: none;
}

header img {
  width: 50%;
}

img {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
